:root {
  --header-height: 70px;
  --footer-height: 50px;
}

.appContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: var(--header-height) auto var(--footer-height);
  width: 100vw;
  height: 100vh;
}

.editorPage {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: calc(100vh - var(--header-height) - var(--footer-height));
  width: 100vw;
}

.sideBar {
  overflow: auto;
}

.docEditor {
  margin: 10px;
  display: grid;
  grid-template-areas: "title title" "auto authors"  "auto authors"  "auto authors" "editor editor";
  overflow: auto;
}

.docTitle {
  grid-area: title;
}

.docAuthors {
  grid-area: authors;
}

.docContent {
  grid-area: editor;
}

.content{
  width: 100%;
  height: 100%;
}

.formTextField{
  padding: 10px;
}

.formContent{
  text-align: center;
  margin: 2px auto;
  width: 398px;
}
.formContainer{
  text-align: center;
  margin: 20px auto 0px;
  width: 400px;
}

footer{
  text-align: center;
  border-top: 1px solid gray;
  box-shadow: 2px -1px 10px gray;
  padding-top: 15px;
}
